
.editprobut{
    margin-top: 183px;
    margin-left: -80px;
    width: 275px;
    height: 40px;
    border-radius: 10px;
}
.proname{
    margin-left: 20px;
}
.detail{
    margin-top: 15px;
    margin-bottom:44px;
}
.proform{
    margin-top: 60px;
}